@import "./fonts.css";
@import "tailwindcss";
@import "./theme.css";
@import "./base.css";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  :root {
    color-scheme: dark;
  }

  :root.light {
    color-scheme: light;
  }
  
  body {
    background-image: var(--image-bg-main);
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: var(--font-red-hat);
  }

  .dark {
    --image-bg-main: linear-gradient(
      to bottom,
      hsl(235, 16%, 14%),
      hsl(270, 19%, 14%)
    );
    --color-typo: hsl(0, 0%, 100%);
    --color-stella: hsl(237, 18%, 59%);
    --color-card-top: hsl(240, 21%, 22%);
    --color-card-bot: hsl(236, 21%, 26%);
    --color-shadow: hsl(234, 17%, 12%);
    --color-mtn-back: hsl(266, 21%, 13%);
    --color-mtn-mid: hsl(251, 19%, 12%);
    --color-mtn-front: hsl(273, 23%, 18%);
  }
}

@utility icon-mask {
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-size: contain;
  mask-image: var(--icon-path);
  -webkit-mask-image: var(--icon-path);
}

@layer utilities {
  .preserve-3d {
    transform-style: preserve-3d;
  }
  .backface-hidden {
    backface-visibility: hidden;
  }
  .rotate-x-180 {
    transform: rotateX(-180deg);
  }
}
