@theme {
  /* --- Typography & Breakpoints --- */
  --font-red-hat: "Red Hat Text", sans-serif;
  --breakpoint-mobile: 375px;
  --breakpoint-desktop: 1440px;

  /* Primary Colors */
  --color-counter: hsl(345, 95%, 68%);
  --color-label: hsl(237, 18%, 59%);
  --color-title: hsl(0, 0%, 100%);

  /* --- Colors --- */
  --image-bg-main: linear-gradient(
    to bottom,
    hsl(9, 40%, 84%),
    hsl(9, 30%, 60%)
  );
  --color-text-main: hsl(235, 16%, 14%);
  --color-mtn-back: hsl(9, 30%, 055%);
  --color-mtn-mid: hsl(9, 50%, 36%);
  --color-mtn-front: hsl(9, 50%, 45%);
  --color-card-top: hsl(0, 0%, 90%);
  --color-card-bot: hsl(0, 0%, 100%);
  --color-Indentation: hsl(235, 19%, 12%);
  --color-shadow: hsl(234, 17%, 12%);
}
