@theme {
  /* --- Typography & Breakpoints --- */
  --font-red-hat: "Red Hat Text", sans-serif;
  --breakpoint-mobile: 375px;
  --breakpoint-desktop: 1440px;

  /* Colors */
  --color-core: hsl(345, 95%, 68%);
  --color-typo: hsl(250, 35%, 45%);
  --color-stella: hsl(235, 23%, 64%);
  --color-card-top: hsl(253, 90%, 82%);
  --color-card-bot: hsl(253, 91%, 88%);
  --color-shadow: hsl(253, 73%, 94%);
  --color-mtn-back: hsl(270, 50%, 92%);
  --color-mtn-mid: hsl(253, 41%, 76%);
  --color-mtn-front: hsl(270, 80%, 89%);

  --image-bg-main: linear-gradient(
    to bottom,
    hsl(284, 100%, 96%),
    hsl(195, 100%, 96%)
  );

  @keyframes twinkle {
    0%,
    100% {
      opacity: 0.7;
      transform: scale(1);
    }
    50% {
      opacity: 0.2;
      transform: scale(0.8);
    }
  }
  --animate-twinkle: twinkle 3s ease-in-out infinite;

  @keyframes flip {
    from {
      transform: rotateX(0deg);
    }
    to {
      transform: rotateX(-180deg);
    }
  }
  --animate-flip: flip 0.6s ease-in forwards;
}
